.container {
    width: 100%;
    margin-top: 3em;
    min-height: 215px;
    background:
        linear-gradient(rgb(106, 212, 247), transparent),
        linear-gradient(to top left, lightgrey, transparent),
        linear-gradient(to top right, red, transparent);
    background-blend-mode: screen;
}

.container h4 {
    font-size: clamp(14px, 3vw, 40px);
    text-align: center;
    color: #DEB13C;
    padding-top: 1em;
    text-shadow: 2px 2px rgb(99, 96, 96);
}

.container .pictures {
    display: flex;
    margin-top: 2em;
    gap: 1em;
}

.logo {
    width: 50%;
    padding-left: 1em;
}

.logo img {
    width: 100%;
}